$fg: #000;
$bg: #fff;
$accent: blue;

@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('https://latex.vercel.app/fonts/LM-regular.woff2') format('woff2'),
    url('https://latex.vercel.app/fonts/LM-regular.woff') format('woff'),
    url('https://latex.vercel.app/fonts/LM-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url('https://latex.vercel.app/fonts/LM-italic.woff2') format('woff2'),
    url('https://latex.vercel.app/fonts/LM-italic.woff') format('woff'),
    url('https://latex.vercel.app/fonts/LM-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: normal;
  font-weight: bold;
  font-display: swap;
  src: url('https://latex.vercel.app/fonts/LM-bold.woff2') format('woff2'),
    url('https://latex.vercel.app/fonts/LM-bold.woff') format('woff'),
    url('https://latex.vercel.app/fonts/LM-bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Latin Modern';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url('https://latex.vercel.app/fonts/LM-bold-italic.woff2') format('woff2'),
    url('https://latex.vercel.app/fonts/LM-bold-italic.woff') format('woff'),
    url('https://latex.vercel.app/fonts/LM-bold-italic.ttf') format('truetype');
}

html {
    scroll-behavior: smooth;
}

body {
    margin-left: 300px;
    background-color: $bg;
    color: $fg;

    font-family: serif;
    line-height: 1.5;
    text-rendering: optimizeLegibility;

    @media screen and (max-width: 800px) {
        margin-left: 0;
    }
}

nav {
    font-family: 'Latin Modern', serif;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    margin: 0px 1em;
    overflow-y: scroll;

    @media screen and (max-width: 800px) {
        position: relative;
        width: 100%;

        & > ul {
            width: 50%;
            margin: auto;
        }
    }

    h1 {
        text-align: center;
        a {
            color: $fg;
            text-decoration: none;
        }
    }

    li {
        margin: 0 0 3px -20px !important;
        list-style: none;
        &::before {
            content: "•";
            padding-right: 2px;
        }
    }

    details {
        margin-left: -20px;
        & > summary {
            cursor: pointer;
            & > * { display: inline; }
        }
    }

    li.active, summary.active {
        font-weight: bolder;
    }
}

main {
    margin: 50px 0;
    padding: 0 20px;
    max-width: 800px;
}

a {
    color: $accent;

    &:hover {
        text-decoration: none;
    }
}

code {
    font-size: .8rem;
    background: #eee;
    padding: 0 0.3rem;
}

pre code {
    padding: 0;
}
pre {
    background-color: #eee !important;
    padding: 0.25rem 1rem;
    margin: 0 -1rem;
    overflow-x: auto;

    @media(max-width: calc(800px + 4rem)) {
        margin: 0;
    }
}

main img {
    display: block;
    margin: 0.5rem auto;
    max-width: 80%;
}

main {
    h1, h2, h3, h4, h5, h6 {
        font-family: "Latin Modern", serif;
    }
}

blockquote {
    margin-left: 0;
    padding-left: 1rem;
    border-left: 4px solid transparentize($fg, 0.7);
    color: lighten($fg, 20);
}

table {
    width: 100%;
    border-collapse: collapse;

    td, th {
        padding: .5rem 0;
        border-bottom: 1px solid transparentize($fg, 0.8);
    }
}

hr {
    border: none;
    height: 1px;
    background-color: transparentize($fg, 0.8);
    margin-bottom: 3em;
}

ol li, ul li {
  line-height: 1.3;

  &:not(:last-child) {
    margin-bottom: 0.35rem;
  }
}

.footnotes {
    opacity: 0.9;
    font-size: .8em;
    ol {
        counter-reset: item;
        list-style: none;
        padding-left: 0;

        li {
            margin: 0 3em;
        }
        li::before {
            content: counter(item) ".";
            counter-increment: item;
            float: left;
            width: 2em;
            margin-left: -2em;
        }
        li p {
            margin: .8em 0;
            position: relative;
        }
        li:target {
            font-weight: bolder;
        }
        li p a.footnote-backref {
            font-size: .9em;
            width: 2em;
            margin-right: -3em;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    hr:first-child {
        display: none;
    }

    border-top: 1px solid transparentize($fg, 0.8);
}

.katex-display > .katex > .katex-html {
    overflow-x: auto;
    overflow-y: hidden;
}
